body {
    margin: 0;
    background-color: #010514;
}

.universo {
    background-image: 
        radial-gradient(0.5px 0.5px at 25px 5px, white, rgba(255, 255, 255, 0)),
        radial-gradient(1px 1px at 50px 25px, white, rgba(255, 255, 255, 0)), 
        radial-gradient(1.5px 1.5px at 125px 20px, white, rgba(255, 255, 255, 0)), 
        radial-gradient(2px 2px at 50px 75px, white, rgba(255, 255, 255, 0)),
        radial-gradient(1px 1px at 150px 100px, white, rgba(255, 255, 255, 0)),
        radial-gradient(1.2px 1.2px at 200px 150px, white, rgba(255, 255, 255, 0)),
        radial-gradient(0.8px 0.8px at 300px 200px, white, rgba(255, 255, 255, 0)),
        radial-gradient(1.2px 1.2px at 400px 300px, white, rgba(255, 255, 255, 0)),
        radial-gradient(1.5px 1.5px at 350px 100px, white, rgba(255, 255, 255, 0)),
        radial-gradient(2px 2px at 250px 50px, white, rgba(255, 255, 255, 0));
        
    background-position: 
        0 0, 
        10px 10px, 
        20px 20px, 
        30px 30px,
        40px 40px,
        50px 50px,
        60px 60px,
        70px 70px,
        80px 80px,
        90px 90px; 
    
    background-size: 
        50px 50px, 
        100px 100px, 
        150px 150px, 
        200px 200px,
        250px 250px,
        300px 300px,
        350px 350px,
        400px 400px,
        450px 450px,
        500px 500px; 
    
    animation: moveStars 40s linear infinite; 
    height: 100vh; 
    width: 100vw; 
    overflow: scroll;
}

@keyframes moveStars {
     0% { 
        background-position: 
            0 0, 
            10px 10px, 
            20px 20px, 
            30px 30px,
            40px 40px,
            50px 50px,
            60px 60px,
            70px 70px,
            80px 80px,
            90px 90px; 
    } 
    100% { 
        background-position: 
            100vw 100vh, 
            110vw 110vh, 
            120vw 120vh, 
            130vw 130vh,
            140vw 140vh,
            150vw 150vh,
            160vw 160vh,
            170vw 170vh,
            180vw 180vh,
            190vw 190vh;
    } 
}


/* Header */
header {
    align-self: center;
    display: flex;
    justify-content: space-between; /* Puedes ajustar esto según sea necesario */
    padding: 20px;
    background-color: rgba(1, 5, 20, 0.7); /* Fondo transparente con color oscuro */
}

/* Estilos para el logo */
.logo-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 20px; /* Ajusta el espacio a la derecha del logo según sea necesario */
}

.logo img {
    width: 50%;
    height: auto;
    filter:drop-shadow(5px 5px 5px #ffffff);
}

/* Estilos para el banner */
.banner {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #fff;
    font-size: 50px;
    animation: pulsoColor 2s linear;
    /* Animación de texto */
}

h1 {
    position: relative;
    font-size: 2em;
    animation: pulsoColorTexto 4s linear infinite;
    margin: 0 auto; /* Centra el h1 en el eje horizontal */
    background:transparent; /* Fondo transparente con color oscuro */
    padding: 10px; /* Ajusta el espacio alrededor del texto según sea necesario */
    margin-right: 30%;
    filter:drop-shadow(5px 5px 5px #ffffff) ;
}


@keyframes pulsoColorTexto {
    0%, 100% {
        color: rgb(255, 253, 253);
    }
    50% {
        color: rgb(123, 45, 135);
    }
}

/* Estilos para la barra de navegación */
nav {
    display: flex;
    align-items: center;
}

.nav-box {
    padding: 10px;
    margin-left: 20px;
    color: #fff;
    background-color: #e65558;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s linear;
}

.nav-box:hover {
    /* El hover es para cuando pasas el raton por encima */
    background-color: #670707;
}

/* Body*/

.contenedor-subtitulo::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px #2708ef;
    /* Animación de rotación en bucle para el borde exterior */
}

.contenedor-subtitulo {
    position: relative;
    padding: 10px;
    display: inline-block;
    color: #ffffff;
    box-shadow: 0px 0px 20px #07e978;
    height: 50px;
    width: 100px;
}


.contenedor-foto::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px #2708ef;
    /* Animación de rotación en bucle para el borde exterior */
}

.contenedor-foto {
    position: relative;
    padding: 10px;
    display: inline-block;
    color: #ffffff;
    box-shadow: 0px 0px 20px #07e978;
    height: 350px;
    width: 200px;
}



.titulo {
    padding-right: 70px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #ffffff;
    text-shadow: 20px 20px 40px #0a0a0a, 20px 20px 40px #2708ef;
    position: relative;
    font-size: 40px;
    animation: textAnimation 3s linear;
    /* Animación de texto */
}

@keyframes textAnimation {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(20px);
    }
}

.navbar-container {
    overflow: hidden;
    white-space: nowrap;
}

.navbar {
    display: flex;
    background: transparent;
    scroll-behavior: smooth; /* Habilita el desplazamiento suave */
}

.navbar input[type="radio"] {
    display: none;
}

.navbar label {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
    display: inline-block;
    cursor: pointer;
    background: transparent;
}

.navbar label img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar input[type="radio"]:checked + label {
    background-color: #555;
}

.navbar .scroll-btn {
    font-size: 18px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.navbar input[type="radio"]:checked + label + input[type="radio"] + label {
    display: none;
}

.navbar input[type="radio"]:checked + label + input[type="radio"] + label + input[type="radio"] + label {
    display: none;
}